---
layout: default
---

<div class="grid gutter push">
	<div class="unit unit-s-1 unit-m-1 unit-l-1-3">
		{% include promo-small.html title="Utensils" desc="Jewel spoons set." image="frozen-yogurt/jewel-spoons.png"%}
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-3">
		<h2>Unit 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-3">
		<h2>Unit 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
	</div>
</div>

<div class="grid gutter">
	<div class="unit unit-s-1 unit-m-1 unit-l-1-3">
		{% include promo-small.html title="Utensils" desc="Waffle bowl set." image="frozen-yogurt/bowl.png"%}
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-3">
		<h2>Unit 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-3">
		<h2>Unit 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
	</div>
</div>

