@charset "UTF-8";
/* CSS Document */
/*
  Colour Palette
  - Red: #C00 - rgb(204, 0, 0)
  - Orange: #F90 - rgb(255, 153, 0)
  - Yellow: #FC0 - rgb(255, 204, 0)
 */
.social img {
	width: 1.5rem;
	margin: 1.5rem auto;
	display: inline;
}

.social{
	position:relative;
	padding-bottom: 1.5rem;
	background-color: transparent;
	margin: 0 5%;
}
.social ul{
	position: absolute;
	bottom: -10px;
	right: 5%;
	z-index: 10;
}

.social li{
	display:inline-block;
	float: left;
	margin-left: 1rem;
	position: relative;
}

.social li:hover{
	top: -5px;
}

.ease-all-social{
	-webkit-transition: all 100ms cubic-bezier(.75,1.9,.7,1);
	-moz-transition: all 100ms cubic-bezier(.75,1.9,.7,1);
	-ms-transition: all 100ms cubic-bezier(.75,1.9,.7,1);
	-o-transition: all 100ms cubic-bezier(.75,1.9,.7,1);
	transition: all 100ms cubic-bezier(.75,1.9,.7,1);
}

.copyright{
	width: 30%;
	margin-left: 5%;
	font-size: .5rem;
	float: left;
	clear: both;
	color: #000000;
	text-align: center;

}

.footer{
	background-color: rgba(255, 204, 0, .25);
	clear: both;
	position:relative;
	z-index: 100;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (min-width: 50em) {
	.social {
		float: right;
	}
}

@media only screen and (min-width: 50em) {
	.copyright {
		margin: 0 auto;
	}
}

