@charset "UTF-8";
/* CSS Document */
/*
  Colour Palette
  - Red: #C00 - rgb(204, 0, 0)
  - Orange: #F90 - rgb(255, 153, 0)
  - Yellow: #FC0 - rgb(255, 204, 0)
 */
.social img {
	width: 1.5rem;
	display: inline;
}

.social{
	position:relative;
	background-color: transparent;
	margin: 0 5%;
	text-align: center;
	padding: 0;
}
.social ul{
	position: absolute;
	right: 5%;
	z-index: 10;
}

.social li{

}

.social a,
.social a:link,
.social a:visited{
	border: none;
}

.copyright{
	margin-left: 0;
	font-size: .5rem;
	clear: both;
	color: #000000;
	text-align: center;
}

.footer{
	background-color: rgba(255, 204, 0, .25);
	clear: both;
	margin-top: 1rem;
}

@media only screen and (min-width: 50em) {
	.social {
		float: right;
	}
}

@media only screen and (min-width: 50em) {
	.copyright {
		float: left;
	}
}

