@charset "UTF-8";
/* CSS Document */
/*
  Colour Palette
  - Red: #C00 - rgb(204, 0, 0)
  - Orange: #F90 - rgb(255, 153, 0)
  - Yellow: #FC0 - rgb(255, 204, 0)
 */
/* Masthead -------------------------------------------------------- */

.logo {
	background-color: transparent;
	width: 100px;
	position: relative;
	margin: 1.5rem 5%;
	border: none;
}

.expand:hover{
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	background: rgba(255,255,255,.5) url("../images/nav-icon.svg") no-repeat center center;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 1.5rem;
	right: 5%;
	overflow: hidden;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color:#ccc;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited{
	display: block;
	background-color: #000;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: .75rem;
	border-top: 1px solid #666;
	width: 100px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1rem;
	font-weight: normal;
}

.nav-top a:hover,
.nav-top a:focus,
.nav-top a:active{
	background-color: #333;
}

/* Toggle nav css*/

.nav-top{
	float: right;
	margin-right: 5%;
	margin-bottom: 2rem;
	max-height: 0px;
	-moz-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	-0-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow: hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 15.25em;
}

.hide-text{
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.header {
	background-color: rgb(255, 153, 0, .5);
}