# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Caterina O'Leary}
- {Meagan Davis}
- {Kayla Tomkiewicz}

## Tasks

1. {Navigate the search page}
2. {Go through both sections of products}
3. {Purchase something}

---

## Individual Results & Observations

### {Caterina O'Leary}

- {She clicked on the link as expected…}
- {She had troubles navigating through both sections}
- {She asked me to fix my "buy now" button links}
- {She noted missing images}
- etc.

### {Meagan Davis}

- {She clicked on the link as expected…}
- {She had troubles navigating through both sections}
- {She asked me to fix my "buy now" button links}
- {She noted missing images}
- etc.

### {Kayla Tomkiewicz}

- {She clicked on the link as expected…}
- {She had troubles navigating through both sections}
- {She asked me to fix my "buy now" button links}
- {She noted missing images}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Things not linked properly}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Nav on products is not consistent}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Pointed out that some images aren't working}
- etc.