<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Large Bucket</title>
<link href="{{site.baseurl}}/styleguide/css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/promos.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/styleguide/css/common.css" rel="stylesheet">
</head>
<div class="bucket">

		<img class="img-flex" src="{{site.baseurl}}/styleguide/images/{{include.image}}" alt="">
			<div class="">
				<h2>{{include.title}}</h2>
				<p>{{include.desc}}</p>
			</div>
		
		<a class="btn micro" href="#">Buy Now</a>

</div>

<body>
</body>
</html>
