<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Small Bucket</title>
<link href="../styleguide/css/typography.css" rel="stylesheet">
<link href="../styleguide/css/media-object.css" rel="stylesheet">
<link href="../styleguide/css/list-group.css" rel="stylesheet">
<link href="../styleguide/css/buttons.css" rel="stylesheet">
<link href="../styleguide/css/product-list.css" rel="stylesheet">
<link href="../styleguide/css/promos.css" rel="stylesheet">
</head>
<div class="bucket-small">

			<img class="flex-img" src="{{site.baseurl}}/styleguide/images/{{include.image}}" alt="">
			<div class="media-body">
				<h2>{{include.title}}</h2>
				<p>{{include.desc}}</p>
			</div>
		
		<a class="btn micro" href="#">Buy Now</a>

</div>

<body>
</body>
</html>