# Accessibility Testing Report

User testing was conducted by {Rebecca Wright} on {March 31 2014} between the times of {start time} and {end time} with the following participants:

- {Caterina O'Leary}
- {Megan Davis}
- {Greg LeBlanc}
- {Kayla T.}
- {Vicky Menard}
- {Allison Connor}

## Tasks

1. {Tab through home page}
2. {Navigate to products page}
3. {Buy Something}

---

## Individual Results & Observations

### {Caterina O'Leary}

- {She completed the task as expected…}
- {Did everything with ease}
- etc.

### {Megan Davis}

- {Completed the tasts fairly easily}
- {Took a little while finding the products page}


### {Greg Leblanc}

- {They completed the task as expected…}
- {No troubles!}
- etc.

### {Kayla T}

- {She completed the task as expected…}
- {Had trouble using the Voice Over in general}
- etc.

### {Vicky Menard}

- {He completed the task as expected…}
- {Did everything with ease, tabbing through.}
- etc.

### {Allison Connor}

- {They completed the task as expected…}
- {Did everything with ease!}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {None of them had any issues}


### Serious, Causes Frustration, May Hinder Completion

- {No issues}
- 

### Minor, Annoying, Won’t Hinder Completion

- {Some alt tags need fixing}
