---
layout: default
title: Products
---
<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<h1>PRODUCTS</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<p class="giga">All of the dinosaur species that existed!</p>
	</div>
</div>

<ul>
	{% for prod in site.pages %}
		{% if prod.category == 'product' %}
			<li>
			<a href="{{site.baseurl}}{{dino.url}}">
				<img src="{{site.baseurl}}/images/{{prod.image}}" alt="">
			{{prod.name}}
			</li>
		{% endif %}
	{% endfor %}
</ul>