---
layout: default
---
{% include nav.html %}

<main>
	<section>
		<div class="grid">
			<div class="unit unit-s-1 unit-2-3 unit-m-1-2">
				
				
				<figcaption class="micro">Frozen yogurt blended with mango slices.</figcaption>
			</div>

			<div class="unit gutter unit-s-1 unit-m-1-2 push-2">
				<h2>{{page.title}}</h2>
					{{content}}
					<a class="btn" href="{{site.baseurl}}/cart/">Buy Now!</a>
			</div>
		</div>
	</section>
	
	<section class="rec">
	<hr></hr>
	<div class="grid push">
		<h2 class="kilo">We also recommend...</h2>
			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2 push-1-2">
				<img class="img-flex" src="{{site.baseurl}}/styleguide/images/frozen-yogurt/{{page.recommended1}}" alt"jewel-spoons">
			</div>
			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
				<img class="img-flex" src="{{site.baseurl}}/styleguide/images/frozen-yogurt/{{page.recommended2}}" alt"berries">
			</div>
	</div>
	<hr></hr>
	</section>
	{% if page.ingredients %}
	<section class="rec">
	<div class="grid push">
		<h2 class="kilo">Ingredients</h2>
			<div class="unit unit-s-1 unit-m-1 unit-l-1 gutter-1-2 push-1-2">
				<p>Our frozen yogurt is a healthier replacement for ice cream!</p>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1 gutter-1-2 kilo">
				<ul class="list-group">
				{% for ingred in page.ingredients %}
							<li class="list-group-item">{{ingred}}</li>
				{% endfor %}
						</ul>
			</div>
	</div>
	<hr></hr>
	{% endif %}
	</section>
</main>