---
layout: default
---
{% include nav.html %}

<main>
	<section>
		<div class="grid">
			<div class="unit unit-s-1 unit-2-3 unit-m-1-2">
				<img class="img-flex push-1-2 gutter-1-2" src="images/frozen-yogurt/mango.png" alt="mango">
				<figcaption class="micro">Frozen yogurt blended with mango slices.</figcaption>
			</div>

			<div class="unit gutter unit-s-1 unit-m-1-2 push-2">
				<h2>{{page.title}}</h2>
					<p>Comes in a variety of sizes!</p>
						<ul class="list-group">
							<li class="list-group-item"><strong>$10.99</strong> - 4L Tub</li>
							<li class="list-group-item"><strong>$6.99</strong> - 2L Tub</li>
							<li class="list-group-item"><strong>$4.99</strong> - 1.5L tub</li>
						</ul>
					<a class="btn" href="#">Buy Now!</a>
			</div>
		</div>
	</section>
	
	<section class="rec">
	<hr></hr>
	<div class="grid push">
		<h2 class="kilo">We also recommend...</h2>
			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2 push-1-2">
				<img class="img-flex" src="images/frozen-yogurt/sprinkles.png" alt"sprinkles">
			</div>
			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
				<img class="img-flex" src="images/frozen-yogurt/berries.png" alt"berries">
			</div>
	</div>
	<hr></hr>
	</section>
	
	<section class="rec">
	<div class="grid push">
		<h2 class="kilo">Ingredients</h2>
			<div class="unit unit-s-1 unit-m-1 unit-l-1 gutter-1-2 push-1-2">
				<p>Our frozen yogurt is a healthier replacement for ice cream!</p>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1 gutter-1-2 kilo">
				<ul class="list-group">
							<li class="list-group-item">Nonfat Milk</li>
							<li class="list-group-item">Sugar</li>
							<li class="list-group-item">Whey</li>
							<li class="list-group-item">Buttermilk</li>
							<li class="list-group-item">Guar Gum</li>
							<li class="list-group-item">Carrageenan</li>
							<li class="list-group-item">Locust Bean Gum</li>
							<li class="list-group-item">Active Cultures</li>
							<li class="list-group-item">L. Acidophilus</li>
							<li class="list-group-item">L. Bulgaricus</li>
							<li class="list-group-item">S. Thermophilus</li>
							<li class="list-group-item">Bifidobacterium</li>
						</ul>
			</div>
	</div>
	<hr></hr>
	</section>
</main>